body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #222, #555);
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}


.login-container, .shop-container, .machines-container, .maintenance-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form input, .login-form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.login-link, .shop-card, .back-button {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px;
  text-decoration: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
}

.login-link:hover, .shop-card:hover, .back-button:hover {
  background-color: #218838;
}

.maintenance-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.maintenance-table th, .maintenance-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.maintenance-table th {
  background-color: #28a745;
  color: white;
}
